




<div class="gridly">
<% @collections.each do |collection| %>

    <% if(collection.photo == "") %>
      <div class="brick small">

        <div class="col-md-12">
          <h2><%= collection.name %></h2>
          <p><%= collection.description %></p>
          <% if(collection.link != "") %>
             <p><a href="<%= collection.link %>"><%= collection.link %></a></p>
          <% end %>
          </div>
      </div>
    <% else %>
        <div class="brick large">

        <div class="col-md-12">
          <h2><%= collection.name %></h2>
          <p><%= collection.description %></p>
        </div>

          <% if(collection.link == "") %>
              <img src="<%= collection.photo %>" class="img-responsive" >
          <% else %>
                <a href="<%= collection.link %>"><img src="<%= collection.photo %>" class="img-responsive" ></a>
          <% end %>

          
         
      </div>

    <% end %>
  <% end %>
</div>

<script>
$(document).on("click", ".gridly .brick", function(event) {
      var $this, size;
      event.preventDefault();
      event.stopPropagation();
      $this = $(this);
      $this.toggleClass('small');
      $this.toggleClass('large');
      if ($this.hasClass('small')) {
        size = 140;
      }
      if ($this.hasClass('large')) {
        size = 300;
      }
      $this.data('width', size);
      $this.data('height', size);
      return $('.gridly').gridly('layout');
    });
    
  $('.gridly').gridly({
    base: 60, // px 
    gutter: 20, // px
    columns: 12
  });

     var $p = $('.brick p');
    var divh = $('.brick').height();
    while ($p.outerHeight() > divh) {
    $p.text(function (index, text) {
        return text.replace(/\W*\s(\S)*$/, '...');
    });


}
</script>


