<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @collection.name %>
</p>

<p>
  <b>Description:</b>
  <%= @collection.description %>
</p>

<p>
  <b>Link:</b>
  <%= @collection.link %>
</p>

<p>
  <b>Photo:</b>
  <%= @collection.photo %>
</p>

<p>
  <b>Note:</b>
  <%= @collection.note %>
</p>


<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
