<h1>Listing rocks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Collection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rocks.each do |rock| %>
  <tr>
    <td><%= rock.name %></td>
    <td><%= rock.collection_id %></td>
    <td><%= link_to 'Show', rock %></td>
    <td><%= link_to 'Edit', edit_rock_path(rock) %></td>
    <td><%= link_to 'Destroy', rock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rock', new_rock_path %>
